/* common */
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Hiragino Kaku Gothic Std;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Hiragino Kaku Gothic Std W8.otf");
}

body {
  font-family: Hiragino Kaku Gothic Std !important;
}

.container-page {
  max-width: 800px;
  margin: 0 auto;
}

.bg-gray {
  background-color: #f3f4f5;
}

.fz-10 {
  font-size: 10px !important;
}

.fz-11 {
  font-size: 11px !important;
}

.fz-12 {
  font-size: 12px !important;
}

.fz-13 {
  font-size: 13px !important;
}

.fz-14 {
  font-size: 14px !important;
}

.fz-16 {
  font-size: 16px !important;
}

.fz-20 {
  font-size: 20px !important;
}

.mt-10 {
  margin-top: 5rem !important;
}

.fm2 {
  font-family: Shippori Mincho;
  font-weight: 400;
  line-height: 18px;
}

.ofbyfor__title {
  font-size: 12px;
  font-weight: 800;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
}

.ofbyfor__title2 {
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}

.ofbyfor__text--content {
  font-size: 10px;
  font-weight: 800;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
}

.card__product {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card__product--box {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__product--image {
  max-width: 150px;
  max-height: 150px;
}

.card__product--body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.card__product--title {
  font-size: 10px;
  font-weight: 800;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 15px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__product--button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  width: 131px;
  height: 30px;
  border-radius: 0;
}

.card__product--link {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.card__product--link:hover {
  text-decoration: underline;
  color: #fff;
}

.ofbyfor__title--size1 {
  font-size: 16px;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}

.ofbyfor__title--size2 {
  font-size: 22px;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #bfbf54;
}

.footer {
  background-color: #d9d9d9;
  height: 159px;
}

.card__product2--image {
  flex: 0.2;
  max-width: 135px;
  max-height: 155px;
}

.card__product2--body {
  flex: 0.8;
}

.card__product2--title {
  font-size: 16px;
  font-weight: 800;
  line-height: 18px;
  letter-spacing: 0em;
}

.card__product2--content {
  font-size: 10px;
  font-weight: 800;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

.ofbyfor__order {
  background-color: #f1eee6;
}

.ofbyfor__order--title {
  font-family: Shippori Mincho;
  font-size: 25px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
}

.card__product3--box {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__product3--title {
  font-size: 11px;
  font-weight: 800;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.card__product3--box {
  flex: 0.45;
}

.card__product3--body {
  flex: 0.55;
}

.card__product3--input input {
  width: 42px;
  height: 40px;
  font-size: 12px;
  font-weight: 400;
}

.ofbyfor__order--unit {
  font-size: 14px;
  font-weight: 800;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

.card__product4--box {
  width: 100px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__product4--image {
  width: 100%;
  height: auto;
}

.card__product4--title {
  font-size: 11px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.ofbyfor__image--dots {
  width: 80%;
  height: 1px;
}

.custom-checkbox .form-check-input {
  background-color: transparent;
  border-color: gray;
}

.custom-checkbox .form-check-input:checked {
  background-color: #000000;
  border-color: #000000;
}

.custom-checkbox .form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgb(97 98 100 / 25%);
}

.badge-custom {
  width: 100px;
  height: 26px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.input-custom {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  color: #000000;
  border: 1px solid #000000 !important;
}

.input-custom::placeholder {
  font-size: 14px;
  font-weight: 400;
}

.select__item--level {
  border: 1px solid #000000;
  border-radius: 50%;
  background: #fff;
  width: 84px;
  height: 84px;
}

.select__item--level h4 {
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: left;
}

.form__order--label-ja,
.form__order--label-en {
  font-size: 14px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.button__submit--form {
  width: 215px !important;
  height: 46px;
}

/* ofbyfor_top */
.card__container--body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.card__container--button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  width: 131px;
  height: 30px;
  border-radius: 0;
}

.card__container--link {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

/* ofbyfor_perfume */
.slick-slider {
  max-width: 800px;
  min-width: 433px;
  height: 150px;
  margin: 0 auto;
}
.slide {
  width: 116px;
  position: relative;
  overflow: hidden;
  margin: 0 45px;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 1s ease-out;
}

.slide.slick-center img {
  transition: all 1s ease-out;
  opacity: 1;
}

.slick-prev,
.slick-next {
  width: 60px;
  height: 60px;
  border: none;
  margin: auto;
  position: absolute;
  z-index: 3000;
  top: 0;
  bottom: 0;
  cursor: pointer;
  outline: none;
}

.slick-next {
  right: 25% !important;
  text-indent: 1px;
  top: 40% !important;
}

.slick-prev {
  left: 25% !important;
  text-indent: -2px;
  top: 40% !important;
}

.slick-prev:before {
  content: "<" !important;
  color: #000000 !important;
  font-size: 18px !important;
  font-weight: 700;
}

.slick-next:before {
  content: ">" !important;
  color: #000000 !important;
  font-size: 18px !important;
  font-weight: 700;
}

.slick-arrow {
  background: red;
  border: none;
  position: absolute;
  bottom: 33px;
  color: #fff;
  font-size: 1.5rem;
  padding: 0;
  width: 33px;
  height: 33px;
  line-height: 34px;
  text-align: center;
  cursor: pointer;
  z-index: 20;
  -webkit-transition: background-color 0.2s ease 0s;
  transition: background-color 0.2s ease 0s;
}

.slide:before {
  content: "";
  display: block;
}

.slide figure {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slide figure:before {
  top: 0;
  background: transparent;
  z-index: 1;
  -webkit-transition: background-color 0.4s ease 0s;
  transition: background-color 0.4s ease 0s;
}

@media screen and (max-width: 620px) {
  .slick-next {
    right: 20% !important;
  }

  .slick-prev {
    left: 20% !important;
  }
}

@media screen and (min-width: 700px) and (max-width: 800px) {
  .slick-next {
    right: 28% !important;
  }

  .slick-prev {
    left: 28% !important;
  }
}

@media screen and (min-width: 800px) {
  .slick-next {
    right: 30% !important;
  }

  .slick-prev {
    left: 30% !important;
  }
}

/* ofbyfor_top2 */
